.container {
    border: 2px solid red;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    display: flex;
}

.grid {
    border: 2px solid blue;
    height: 10px;
    width: 10px;
    flex-direction: column;
}