.container {
    border: 2px solid red;
    height: 800px;
    width: 800px;
    display: flex;
}

.row {
    border: 2px solid blue;
    height: 10px;
    width: 10px;
    flex-direction: row;
}

.column {
    border: 2px solid green;
    height: 10px;
    width: 10px;
    flex-direction: column;
}